.loading {
	&-component {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-width: 4rem;
		height: 100%;
		min-height: 4rem;
	}
	&-icon {
		width: 1.2rem;
		height: 1.2rem;
		background: url("../../assets/img/icon/loading.svg") no-repeat center/cover;
		animation: rotate 1s linear infinite;
	}
	&-text {
		margin-top: .2rem;
		padding: 0 .2rem;
		font-size: .28rem;
		color: #7e8ba3;
	}
}
.loader {
	&-component {
		display: flex;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 999999;
		justify-content: center;
		align-items: center;
		&.show {
			animation: modal-fade-in 300ms both;
			.loader-wrapper {
				animation: modal-slide-in-up 300ms both;
			}
		}
		&.hide {
			animation: modal-fade-out 300ms both;
			.loader-wrapper {
				animation: modal-slide-in-down 300ms both;
			}
		}
	}
	&-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: .2rem;
		width: 2.7rem;
		height: 2.7rem;
		background-color: rgba(#000, .8);
	}
	&-icon {
		width: .8rem;
		height: .8rem;
		background: url("../../assets/img/icon/loading.svg") no-repeat center/cover;
		animation: rotate 1s linear infinite;
	}
	&-text {
		overflow: hidden;
		margin-top: .4rem;
		padding: 0 .1rem;
		max-width: 100%;
		text-overflow: ellipsis;
		font-size: .32rem;
		color: #d3dded;
		white-space: nowrap;
	}
}
@keyframes rotate {
	to {
		transform: rotate(1turn);
	}
}